html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 9px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 3px;
}

input:checked + .slider {
  background-color: #52c944;
}

input:focus + .slider {
  box-shadow: 0 0 4px #7efa70;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider.red {
  background-color: crimson;
}

input:focus + .slider.red {
  box-shadow: 0 0 4px crimson;
}

input:checked + .slider.red {
  background-color: crimson;
}

#round {
  border-radius: 34px;
}

#round:before {
  border-radius: 50%;
}

input:checked + .slider.red {
  background-color: crimson;
}

input:focus + .slider.blue {
  box-shadow: 0 0 4px #424bf5;
}

input:checked + .slider.blue {
  background-color: #424bf5;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

/* Style the input field */
.search-input {
  border: 1px solid #d4d4d4;
  padding: 10px;
  width: 300px;
  font-size: inherit;
}

/* Container for suggestions */
.suggestions-box {
  position: absolute;
  width: 100%; /* Adjust as needed */
  top: 100%;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  left: 0;
  right: 0;
  background-color: white;
  max-height: 120px;
  overflow-y: auto;
}

/* Style for the suggestion buttons */
.suggestion-btn {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  text-align: left;
}

.suggestion-btn:hover,
.suggestion-btn.autocomplete-active {
  background-color: DodgerBlue;
  color: white;
}

/* Selected items container */
.selected-items-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #d4d4d4;
  background-color: #f9f9f9;
}

.selected-items-container:empty {
  display: none;
}

/* Style for selected items */
.selected-items-container div {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 90%;
}

/* Remove button for selected items */
.selected-items-container button {
  margin-left: 5px;
  border: none;
  background-color: #d80000;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 16px;
  height: 16px;
}

.selected-items-container button:hover {
  background-color: darkred;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btn,
.btn_download {
  margin-right: 20px;
}

.butn {
  background: #424bf5;
  margin-left: 20px;
  font-size: 15px;
  width: 80px;
  height: 30px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.butn:hover {
  background: white;
  border: 1px solid #424bf5;
  color: #424bf5;
  transform: scale(10px);
  transition: 0.5s;
}
/* .basic-corgi-mode {
  width: 500px;
  animation: 95s linear 0s infinite normal none running corgis;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./utils/chocolatechip.gif"), url("./utils/redvelvet.gif");
  height: 120px;
}
@keyframes corgis {
  0% {
    background-position: 120% center, 120% center, 120% center, 120% center;
  }
  25%,
  30% {
    background-position: -20% center, -20% center, -20% center, -20% center;
  }
  55%,
  65% {
    background-position: -20% center, 120% center, -20% center, 120% center;
  }
  100%,
  95% {
    background-position: -20% center, 120% center, 120% center, -20% center;
  }
} */
